<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="false" scan="false">

    <!-- 声明变量 -->
    <property name="logPath" value="/Files/Logs/Mine/Algorithm/"/>
    <property name="applicationName" value="utils"/>
    <timestamp key="month" datePattern="yyyyMM"/>
    <timestamp key="time" datePattern="yyyyMMdd_HHmmss"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-6.20t] %highlight(%5level) [%green(%50.50c{50} %3.5L)] - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${logPath}/${applicationName}/${month}/${time}.log</file>
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-6.20t] %highlight(%5level) [%green(%50.50c{50} %3.5L)] - %m %n</pattern>
        </encoder>
    </appender>

    <!-- 设置本项目日志级别为 debug -->
    <logger name="com.onysakura" level="debug"/>

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>

</configuration>