<?xml version="1.0" encoding="utf-8" ?>
<configuration debug="false" scan="false">
    <!-- 引入 Spring 中的配置 -->
    <springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue="unknown"/>
    <springProperty scop="context" name="logging.file.path" source="logging.file.path" defaultValue="/Files/Logs/Onysakura/unknown"/>
    <!-- 声明变量 -->
    <property name="logPath" value="${logging.file.path}"/>
    <property name="applicationName" value="${spring.application.name}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-6.20t] %highlight(%5level) [%green(%50.50c{50} %3.5L)] - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${applicationName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${applicationName}/%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%-6.20t] %highlight(%5level) [%green(%50.50c{50} %3.5L)] - %m %n</pattern>
        </encoder>
    </appender>

    <!-- 设置本项目日志级别为 debug -->
    <logger name="fun.onysakura" level="ERROR"/>

    <!-- 屏蔽 nacos 心跳日志 -->
    <logger name="org.elasticsearch.client.RestClient" level="WARN" additivity="false">
    </logger>

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>

</configuration>